<div class="hero-unit">
  <h1>Hello, campjs!</h1>
  <p>We are building a pseudo-social-network for campjs. Get to know people by posting on their profiles once we have the app running.</p>
  <p><a href="#register" class="btn btn-primary btn-large">Register</a></p>
</div>

<div class="row">
  <div class="span4">
    <h2>Goals</h2>
    <ul>
      <li>Get a conceptual view of Backbone.js</li>
      <li>Hack away at an example app</li>
      <li>Comment and network!</li>
    </ul>
  </div>
  <div class="span4">
    <h2>Technologies</h2>
    <ul>
      <li>Backbone.js</li>
      <li>Require.js</li>
      <li>Mustache.js</li>
      <li>Underscore.js</li>
    </ul>
 </div>
  <div class="span4">
    <h2>Thomas Davis</h2>
    <ul>
      <li>Brisbane</li>
      <li>http://thomasdav.is</li>
      <li>thomasalwyndavis@gmail.com</li>
    </ul>
    <strong>Work</strong>
    <ul>
      <li>http://backbonetutorials.com</li>
      <li>cdnjs.com</li>
      <li>kaleistyleguide.com</li>
    </ul>
  </div>
</div>

     