<form class="register">
  <fieldset>
    <legend>Register</legend>
    <label>Email</label>
    <input name="email" type="email" required placeholder="Your email address please...">
    <label>Username</label>
    <input type="text" name="desired_username"  required placeholder="Any nicknames?...">
    <label>Password</label>
    <input  name="password" type="password" required placeholder="Something easy to remember…">
    <hr />
    <button class="btn" type="submit">Register</button>
  </fieldset>
</form>
<p>Passwords are not salted on the server</p>